BasedOnStyle: Google
AlignAfterOpenBracket: AlwaysBreak
AlignConsecutiveAssignments: false
AlignConsecutiveDeclarations: false
AlignConsecutiveMacros: true
AllowAllParametersOfDeclarationOnNextLine: true
AllowShortFunctionsOnASingleLine: false
AllowShortIfStatementsOnASingleLine: true
AlwaysBreakAfterDefinitionReturnType: None
AlwaysBreakAfterReturnType: None
AlwaysBreakTemplateDeclarations: Yes
BinPackArguments: false
BinPackParameters: false
BreakBeforeBraces: Attach
ColumnLimit: 250
ExperimentalAutoDetectBinPacking: false
IndentCaseLabels: true
PointerAlignment: Left
TabWidth: 4
IndentWidth: 4
UseTab: Never
IndentPPDirectives: BeforeHash
AlignArrayOfStructures: Left
AlwaysBreakBeforeMultilineStrings: false
AllowShortLoopsOnASingleLine: true
SortUsingDeclarations: true
SortIncludes: Never
SpaceAfterCStyleCast: true
SpaceBeforeAssignmentOperators: true
SpaceBeforeParens: ControlStatements 
